{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/6si-static/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale=1.0 />
    <title>6sense: Predictive Intelligence Platform</title>
    {% if not dev %}
    {% render_bundle 'app' 'css' %}
    {% endif %}
    {% if prod %}
    <script type="text/javascript" crossorigin="anonymous">
       window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
         heap.load("288578227");
    </script>
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <div id="content"></div>
    </div>
    {% if dev %}
      {% render_bundle 'vendors' 'js' 'DLL' attrs='crossorigin="anonymous"' %}
    {% endif %}
    {% render_bundle 'app' 'js' attrs='crossorigin="anonymous"' %}
  </body>
</html>
